#root {
  $zoomConstant: 1; //this value is ignored for an unknown reason, so it's passed from JS after component mounting
}

@function scaleValue(
  $value,
  $--zoomConstant,
  $optimalViewportHeight: 1319
) {
  @return calc(
    #{$value} * #{$--zoomConstant} * 100vh / #{$optimalViewportHeight}
  );
}

.containerDiv {
  text-align: center;
  background-color: rgb(15, 15, 15);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  overflow-y: scroll;
  position: relative;
  user-select: none;
}

@font-face {
    font-family: hollow-knight;
    src: url("../fonts/Trajan Pro Regular.ttf")
}

.heading {
    font-size: scaleValue(40, var(--zoomConstant));
    color: white;
    font-family: hollow-knight;
    text-shadow: 0 0 scaleValue(20, var(--zoomConstant)) #fff,
                0 0 scaleValue(20, var(--zoomConstant)) #fff
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: row;
  
}

.jsonButton {
  display: flex;
  width: fit-content;
  padding-left: scaleValue(15, var(--zoomConstant));
  padding-right: scaleValue(15, var(--zoomConstant));
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30, var(--zoomConstant));
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-top: scaleValue(15, var(--zoomConstant));
  margin-bottom: scaleValue(20, var(--zoomConstant));
  border: solid white scaleValue(3, var(--zoomConstant));
  border-radius: scaleValue(5, var(--zoomConstant));
  height: scaleValue(55, var(--zoomConstant));
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: scaleValue(30, var(--zoomConstant));
  user-select: none;
}

.jsonButton:hover {
  background: rgb(50, 50, 50);
}

.hideNohits {
  display: flex;
  width: scaleValue(260, var(--zoomConstant));
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30, var(--zoomConstant));
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-top: scaleValue(15, var(--zoomConstant));
  margin-bottom: scaleValue(20, var(--zoomConstant));
  border: solid white scaleValue(3, var(--zoomConstant));
  border-radius: scaleValue(5, var(--zoomConstant));
  height: scaleValue(55, var(--zoomConstant));
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: scaleValue(30, var(--zoomConstant));
  user-select: none;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.bossesContainer {
  width: fit-content;
  display: inline-block;
  border-bottom: solid white scaleValue(3, var(--zoomConstant));
  border-left: solid white scaleValue(3, var(--zoomConstant));
  border-right: solid white scaleValue(3, var(--zoomConstant));
}

.bossDiv {
    display: flex;
    background-color: rgb(15, 15, 15);
    font-size: scaleValue(30, var(--zoomConstant));
    font: bold;
    font-family: hollow-knight;
    color: white;
    width: scaleValue(470, var(--zoomConstant));
    height: scaleValue(55, var(--zoomConstant));
    // border-left: solid scaleValue(3);
    border-top: solid scaleValue(3, var(--zoomConstant));
    border-color: white;
    justify-content: center;
    align-items: center;
}

/* .bossDiv:hover {
  background: rgb(50, 50, 50);
} */

.countDiv {
    display: flex;
    cursor: pointer;
    background-color: rgb(15, 15, 15);
    font-size: scaleValue(30, var(--zoomConstant));
    font: bold;
    color: white;
    font-family: hollow-knight;
    width: scaleValue(140, var(--zoomConstant));
    height: scaleValue(55, var(--zoomConstant));
    border-top: solid scaleValue(3, var(--zoomConstant));
    border-right: solid scaleValue(3, var(--zoomConstant));
    border-color: white;
    justify-content: center;
    align-items: center;
}

.countDiv:hover {
  background: rgb(50, 50, 50);
}

.inputCount {
    font-size: scaleValue(30, var(--zoomConstant));
    cursor: pointer;
    font: bold;
    color: white;
    font-family: hollow-knight;
    background-color: transparent;
    width: 100%;
    text-align: center;
    border: none;
    margin-right: scaleValue(10, var(--zoomConstant));
}

/* .inputCount:hover {
  background: rgb(50, 50, 50);
} */

.plus {
    display:inline-block;
    cursor: pointer;
    width: scaleValue(55, var(--zoomConstant));
    height: scaleValue(55, var(--zoomConstant));
    border-top: solid scaleValue(3, var(--zoomConstant));
    border-right: solid scaleValue(3, var(--zoomConstant));
    border-color: white;
    
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      rgb(15, 15, 15);
    background-position: center;
    background-size: 50% scaleValue(2, var(--zoomConstant)), scaleValue(2, var(--zoomConstant)) 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
  }

  .plus:hover {
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      rgb(50, 50, 50);
    background-position: center;
    background-size: 50% scaleValue(2, var(--zoomConstant)), scaleValue(2, var(--zoomConstant)) 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
  }

  .minus {
    display:inline-block;
    cursor: pointer;
    width: scaleValue(55, var(--zoomConstant));
    height: scaleValue(55, var(--zoomConstant));
    border-top: solid scaleValue(3, var(--zoomConstant));
    // border-right: solid scaleValue(3);
    border-color: white;
    
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      rgb(15, 15, 15);
    background-position: center;
    background-size: 50% scaleValue(2, var(--zoomConstant)), 0px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
  }

  .minus:hover {
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      rgb(50, 50, 50);
    background-position: center;
    background-size: 50% scaleValue(2, var(--zoomConstant)), 0px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
  }

  .totalHits {
    display: flex;
    background-color: rgb(15, 15, 15);
    font-size: scaleValue(30, var(--zoomConstant));
    font: bold;
    font-family: hollow-knight;
    color: white;
    width: 100%;
    height: scaleValue(55, var(--zoomConstant));
    border-top: solid scaleValue(3, var(--zoomConstant));
    border-color: white;
    justify-content: center;
    align-items: center;
    min-width: scaleValue(300, var(--zoomConstant))
  }

  .bottomDiv {
    background-color: white;
     margin: 0 auto; 
     width: scaleValue(712, var(--zoomConstant)); 
     height: scaleValue(3, var(--zoomConstant))
  }

  .footer {
    margin-top: scaleValue(60, var(--zoomConstant));
    height: scaleValue(30, var(--zoomConstant));
    background-color: rgb(24, 24, 24);
    font-family: hollow-knight;
    font-size: scaleValue(20, var(--zoomConstant));
    color: rgb(200, 200, 200);
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    appearance: inherit;
    -moz-appearance: textfield;
  }

  div::-webkit-scrollbar {
    display: none;
  }

  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
