#root {
  $zoomConstant: null;
}

$bossTextShadow: true;

@function scaleValue($value,
  $--zoomConstant : var(--zoomConstant),
  $optimalViewportHeight: 1319) {
  @return calc(#{$value} * #{$--zoomConstant} * 100vh / #{$optimalViewportHeight});
}

.containerDiv {
  text-align: center;
  background-color: rgb(15, 15, 15);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  overflow-y: scroll;
  position: relative;
  user-select: none;
}

@font-face {
  font-family: hollow-knight;
  src: url("../fonts/Trajan Pro Regular.ttf")
}

.heading {
  font-size: scaleValue(40);
  color: white;
  font-family: hollow-knight;
  text-shadow: 0 0 scaleValue(20) #fff,
    0 0 scaleValue(20) #fff
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: row;
  height: fit-content;
}

.jsonButton {
  display: flex;
  width: fit-content;
  padding-left: scaleValue(15);
  padding-right: scaleValue(15);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  border-radius: scaleValue(5);
  height: scaleValue(55);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: scaleValue(30);
  user-select: none;
}

.jsonButton:hover {
  background: rgb(50, 50, 50);
}

.toggleNohits {
  display: flex;
  width: scaleValue(260);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  border-radius: scaleValue(5);
  height: scaleValue(55);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: scaleValue(30);
  user-select: none;
}

.toggleNohits:hover {
  background: rgb(50, 50, 50);
}

.reset {
  @extend .toggleNohits;
  width: scaleValue(130);
  margin-bottom: scaleValue(20);
  margin-top: scaleValue(30);
}

.reset:hover {
  background: rgb(50, 50, 50);
}

.flexContainer {
  display: flex;
  justify-content: center;
}

.bossesContainer {
  width: fit-content;
  display: inline-block;
  border-bottom: solid white scaleValue(3);
  border-left: solid white scaleValue(3);
  border-right: solid white scaleValue(3);
  color: var(--colorVar);
}

.bossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uBossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bossDiv:hover {
  text-shadow: 0 0 scaleValue(7) white,
    0 0 scaleValue(7) white;
  ;

}

.rBossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: white;
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.rBossDiv:hover {
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.iBossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  color: silver;
}

.countDiv {
  display: flex;
  cursor: var(--cursorVar);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  color: inherit;
  font-family: hollow-knight;
  width: scaleValue(140);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
}

.inputCount {
  font-size: scaleValue(30);
  cursor: var(--cursorVar);
  font: bold;
  color: white;
  font-family: hollow-knight;
  background-color: transparent;
  width: 100%;
  height: scaleValue(50);
  text-align: center;
  border: none;
  outline: none;
  margin-right: scaleValue(10);
}

.inputCount:hover {
  text-shadow: 0 0 scaleValue(7) white,
    0 0 scaleValue(7) white
}

.rInputCount {
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  background-color: transparent;
  width: 100%;
  height: scaleValue(50);
  text-align: center;
  border: none;
  outline: none;
  margin-right: scaleValue(10);

  cursor: pointer;
  color: white;
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.rInputCount:hover {
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.iInputCount {
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  background-color: transparent;
  width: 100%;
  height: scaleValue(50);
  text-align: center;
  border: none;
  outline: none;
  margin-right: scaleValue(10);

  cursor: not-allowed;
  color: silver;
  caret-color: transparent;
}

.plus {
  display: inline-block;
  cursor: var(--cursorVar);
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;

  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.rPlus {
  @extend .plus;
  cursor: pointer;
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.iPlus {
  display: inline-block;
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;
  cursor: not-allowed;
  background:
    linear-gradient(silver 0 0),
    linear-gradient(silver 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.plus:hover {
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(50, 50, 50);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.minus {
  display: inline-block;
  cursor: var(--cursorVar);
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;

  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.rMinus {
  @extend .minus;
  cursor: pointer;
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.iMinus {
  display: inline-block;
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  cursor: not-allowed;
  background:
    linear-gradient(silver 0 0),
    linear-gradient(silver 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.minus:hover {
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(50, 50, 50);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.totalHits {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  width: 100%;
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  min-width: scaleValue(300)
}

.bottomDiv {
  background-color: white;
  margin: 0 auto;
  width: scaleValue(712);
  height: scaleValue(3)
}

.footer {
  margin-top: scaleValue(60);
  height: scaleValue(30);
  background-color: rgb(24, 24, 24);
  font-family: hollow-knight;
  font-size: scaleValue(20);
  color: rgb(200, 200, 200);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: inherit;
  -moz-appearance: textfield;
}

div::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}