#root {
  $zoomConstant: null;
}

$bossTextShadow: true;

@function scaleValue($value,
  $--zoomConstant : var(--zoomConstant),
  $optimalViewportHeight: 1319) {
  @return calc(#{$value} * #{$--zoomConstant} * 100vh / #{$optimalViewportHeight});
}

.containerDiv {
  text-align: center;
  background-color: rgb(15, 15, 15);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  overflow-y: scroll;
  position: relative;
  user-select: none;
}

@font-face {
  font-family: hollow-knight;
  src: url("../fonts/Trajan Pro Regular.ttf")
}

.heading {
  font-size: scaleValue(40);
  color: white;
  font-family: hollow-knight;
  text-shadow: 0 0 scaleValue(20) #fff,
    0 0 scaleValue(20) #fff
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: row;
  height: fit-content;
}

.uploadHistory {
  display: flex;
  width: fit-content;
  padding-left: scaleValue(15);
  padding-right: scaleValue(15);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  border-radius: scaleValue(5);
  height: scaleValue(55);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: scaleValue(30);
  user-select: none;
}

.uploadHistory:hover {
  background: rgb(50, 50, 50);
}

.uploadModal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  width: scaleValue(470);
  height: scaleValue(750);
  border: solid white scaleValue(3);
  font-family: hollow-knight;
  font-size: scaleValue(30);
  background-color: rgb(15, 15, 15);
  z-index: 2;

}

.closeModal {
  position: relative;
  font-family: Arial;
  color: rgb(255, 255, 255);
  font-size: scaleValue(45);
  left: 91.8%;
  top: -0%;
  justify-content: center;
  opacity: 0.6;
  width: scaleValue(40);
  height: scaleValue(40);
  vertical-align: text-top;
  cursor: pointer;
  z-index: 2;
}

.closeModal::before,
.closeModal::after {
  position: absolute;
  top: scaleValue(3.5);
  left: scaleValue(19);
  content: ' ';
  height: scaleValue(33);
  width: scaleValue(3);
  background-color: white;
}

.closeModal::before {
  transform: rotate(45deg);
}

.closeModal::after {
  transform: rotate(-45deg);
}

.closeModal:hover {
  opacity: 1;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modalText {
  width: 100%;
  color: white;
  font-size: scaleValue(35);
  font-weight: bold;
  margin-top: scaleValue(20);
  margin-bottom: scaleValue(60);
}

.optionsContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.uploadOption {
  color: white;
  cursor: pointer;
  font-size: scaleValue(32);
  margin-top: scaleValue(20);
  margin-bottom: scaleValue(20);
}

.iUploadOption {
  color: white;
  cursor: pointer;
  font-size: scaleValue(32);
  margin-top: scaleValue(20);
  margin-bottom: scaleValue(20);
  width: 75%;
  overflow: hidden;
}

.uploadOption:hover {
  text-shadow: 0 0 scaleValue(20) #fff,
    0 0 scaleValue(20) #fff
}

.selectedFile {
  display: flex;
  color: white;
  font-size: scaleValue(32);
  margin-top: scaleValue(20);
  margin-bottom: scaleValue(20);
  width: 75%;
  height: scaleValue(80);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.uploadSelected {
  cursor: pointer;
  font-size: scaleValue(32);
  color: white;
  margin-top: scaleValue(20);
  margin-bottom: scaleValue(20);
  text-shadow: 0 0 scaleValue(20) #FEFCC1,
    0 0 scaleValue(20) #FEFCC1,
    0 0 scaleValue(20) #FEFCC1,
    0 0 scaleValue(20) #fffeda
}

.uploadSelected:hover {
  color: #fffdca
}

.selectFile {
  display: flex;
  color: white;
  cursor: pointer;
  font-size: scaleValue(32);
  margin-top: scaleValue(80);
  width: scaleValue(210);
  height: scaleValue(55);
  font-family: hollow-knight;
  border: solid white scaleValue(3);
  justify-content: center;
  border-radius: scaleValue(5);
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: scaleValue(20);
}

.selectFile:hover {
  background: rgb(50, 50, 50);
}

.uploadFile {
  display: flex;
  color: white;
  cursor: pointer;
  font-size: scaleValue(32);
  margin-top: scaleValue(20);
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  justify-content: center;
  align-items: center;
  border-radius: scaleValue(5);
  height: scaleValue(55);
  width: scaleValue(150);
}

.uploadFile:hover {
  background: rgb(50, 50, 50);
}

.downloadAttempts {
  display: flex;
  width: fit-content;
  padding-left: scaleValue(15);
  padding-right: scaleValue(15);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  border-radius: scaleValue(5);
  height: scaleValue(55);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: scaleValue(30);
  user-select: none;
  margin-top: scaleValue(30);
}

.downloadAttempts:hover {
  background: rgb(50, 50, 50);
}

.jsonButton {
  display: flex;
  width: fit-content;
  padding-left: scaleValue(15);
  padding-right: scaleValue(15);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  border-radius: scaleValue(5);
  height: scaleValue(55);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: scaleValue(30);
  user-select: none;
}

.jsonButton:hover {
  background: rgb(50, 50, 50);
}

.toggleNohits {
  display: flex;
  width: scaleValue(260);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  margin-bottom: scaleValue(20);
  border: solid white scaleValue(3);
  border-radius: scaleValue(5);
  height: scaleValue(55);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: scaleValue(30);
  user-select: none;
}

.toggleNohits:hover {
  background: rgb(50, 50, 50);
}

.saveAttempt {
  @extend .toggleNohits;
  width: scaleValue(260);
  margin-bottom: scaleValue(20);
}

.saveAttempt:hover {
  background: rgb(50, 50, 50);
}

.reset {
  @extend .toggleNohits;
  width: scaleValue(130);
  margin-bottom: scaleValue(20);
}

.reset:hover {
  background: rgb(50, 50, 50);
}

.flexContainer {
  display: flex;
  justify-content: center;
}

.bossesContainer {
  width: fit-content;
  display: inline-block;
  border-bottom: solid scaleValue(3);
  border-left: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;
  color: var(--colorVar);
}

.bossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uBossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bossDiv:hover {
  text-shadow: 0 0 scaleValue(7) white,
    0 0 scaleValue(7) white;
}

.rBossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: white;
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.rBossDiv:hover {
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.iBossDiv {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  width: scaleValue(470);
  height: scaleValue(55);
  border-top: solid white scaleValue(3);
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  color: silver;
}

.countDiv {
  display: flex;
  cursor: var(--cursorVar);
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  color: inherit;
  font-family: hollow-knight;
  width: scaleValue(140);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
}

.inputCount {
  font-size: scaleValue(30);
  cursor: var(--cursorVar);
  font: bold;
  color: white;
  font-family: hollow-knight;
  background-color: transparent;
  width: 100%;
  height: scaleValue(50);
  text-align: center;
  border: none;
  outline: none;
  margin-right: scaleValue(10);
}

.inputCount:hover {
  text-shadow: 0 0 scaleValue(7) white,
    0 0 scaleValue(7) white
}

.rInputCount {
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  background-color: transparent;
  width: 100%;
  height: scaleValue(50);
  text-align: center;
  border: none;
  outline: none;
  margin-right: scaleValue(10);

  cursor: pointer;
  color: white;
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.rInputCount:hover {
  text-shadow: 0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1,
    0 0 scaleValue(7) #FEFCC1
}

.iInputCount {
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  background-color: transparent;
  width: 100%;
  height: scaleValue(50);
  text-align: center;
  border: none;
  outline: none;
  margin-right: scaleValue(10);

  cursor: not-allowed;
  color: silver;
  caret-color: transparent;
}

.plus {
  display: inline-block;
  cursor: pointer;
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;

  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.rPlus {
  @extend .plus;
  cursor: pointer;
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.iPlus {
  display: inline-block;
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-right: solid scaleValue(3);
  border-color: white;
  cursor: not-allowed;
  background:
    linear-gradient(silver 0 0),
    linear-gradient(silver 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.plus:hover {
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(50, 50, 50);
  background-position: center;
  background-size: 50% scaleValue(2), scaleValue(2) 50%;
  background-repeat: no-repeat;
}

.minus {
  display: inline-block;
  cursor: pointer;
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;

  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.rMinus {
  @extend .minus;
  cursor: pointer;
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.iMinus {
  display: inline-block;
  width: scaleValue(55);
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  cursor: not-allowed;
  background:
    linear-gradient(silver 0 0),
    linear-gradient(silver 0 0),
    rgb(15, 15, 15);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.minus:hover {
  background:
    linear-gradient(white 0 0),
    linear-gradient(white 0 0),
    rgb(50, 50, 50);
  background-position: center;
  background-size: 50% scaleValue(2), 0px 50%;
  background-repeat: no-repeat;
}

.totalHits {
  display: flex;
  background-color: rgb(15, 15, 15);
  font-size: scaleValue(30);
  font: bold;
  font-family: hollow-knight;
  color: white;
  width: 100%;
  height: scaleValue(55);
  border-top: solid scaleValue(3);
  border-color: white;
  justify-content: center;
  align-items: center;
  min-width: scaleValue(300)
}

.bottomDiv {
  background-color: white;
  margin: 0 auto;
  width: scaleValue(712);
  height: scaleValue(3)
}

.footer {
  margin-top: scaleValue(60);
  height: scaleValue(30);
  background-color: rgb(24, 24, 24);
  font-family: hollow-knight;
  font-size: scaleValue(20);
  color: rgb(200, 200, 200);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: inherit;
  -moz-appearance: textfield;
}

div::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}